body{
    background-color: black;
    width: 700px;
    height:500px;
    overflow: auto;
    margin: 40px auto;

}

i{
    padding: 4px;
    font-size: 20px;
}

.container{
    background-color: white;
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header{
display: flex;
width: 100%;
  max-height: 10%;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 4px;

}

.first{
    order: 1;
}

.second span{
    display: block;
}

.second{
    order: 2;
    width: 90%;
}

.last{
    order: 3;  
}


.img{  
  max-width: 100%;
}

.icon{
    display: flex;
    flex-direction: row;
}
.left{
    width: 95%;
}
.right{
    display: flex;
    justify-content: flex-end;
}
p{
    padding: 4px;
}
